html{
  background-image: url('assets/przystan.jpeg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  scale:0.9;
}
#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: #ADE8F4;
  color: black;
  opacity: 0.9;
  border-radius:20px;
  border: 5px solid #ff7f00;
  scale: 1.1;


}
main{
  display: flex;

}
div{
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

button {
  border: 1px solid black;
  background: #ff7f00;
  transition: 0.3s ease;
}
button:hover {
  background: darkgreen;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
input{
  background: white;
  color: black;
  border-radius: 5px;
  border: 1px solid gray;
}
select{
  background: white;
  color: black;
  border-radius: 5px;
  width: 180px;
  text-align: center;
}
